:host {
  height: 100%;

  .drawer-container {
    width: 350px;
    max-width: 350px;
  }

  .content-container {
    position: relative;
    height: 100%;
  }

  .sticky-container {
    background-color: #fafafa;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
  }

}
