<div *ngIf="orientation === 'horizontal'" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="10%" class="side-path left horizontal {{reverse ? 'reverse' : ''}}">
  </div>
  <div fxFlex="80%" class="center-circle horizontal {{reverse ? 'reverse' : ''}}">
    <div class="group-info-container">
      <ng-content></ng-content>
    </div>
  </div>
  <div fxFlex="10%" class="side-path right horizontal {{reverse ? 'reverse' : ''}}">
  </div>
</div>

<div *ngIf="orientation === 'vertical'" class="mobile-path vertical {{reverse ? 'reverse' : ''}}">

</div>
