<div fxLayout="column" class="dialog-outer-container">

  <div fxLayout="row" class="top-container" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayout.lt-md="column">
      <div class="mt--10 mb-0 mat-title" [ngClass.xs]="'mat-body-2'">
        {{ group.name }}
      </div>
      <div class="ml-12 dialog-title-subtitle" fxHide.lt-md>
        Actief sinds {{group.created_on | date: 'longDate'}}
      </div>
    </div>

    <div fxLayout="row" class="card-option-button">
      <button mat-icon-button (click)="drawer.open()">
        <mat-icon>info</mat-icon>
      </button>
      <div class="mr-8 ml-8">
        <mat-divider [vertical]="true" style="height: 100%;"></mat-divider>
      </div>
      <button mat-icon-button (click)="dialogRef.close()">
        <mat-icon class="b-text-action">clear</mat-icon>
      </button>
    </div>

  </div>

  <mat-drawer-container class="outer-container gpx-sidenav-container" [hasBackdrop]="media.isActive('lt-md')">
    <mat-drawer #drawer [disableClose]="!media.isActive('lt-md')"
      [mode]="!media.isActive('lt-md') ? 'side' : 'over'" [opened]="!media.isActive('lt-md')" position="end"
      class="standard-sidenav no-padding height-self">

      <div class="p-16" fxLayout="column">

        <div fxLayout="column" fxHide.gt-sm>
          <button mat-icon-button class="b-secondary" (click)="matDrawer.close()">
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>

        <!-- // default drawer view -->

        <img src="/assets/group-meter/group-icon-PLACEHOLDER.png" alt="group type" width="auto">

        <div fxHide.gt-sm>
          Actief sinds {{group.created_on | date: 'longDate'}}
        </div>

        <p>
          {{ group.summary }}
        </p>

      </div>

    </mat-drawer>
    <mat-drawer-content class="inner-container">
      <div style="height: 450px" fxLayout="column" fxFlex="100%">

        <h2>Groepsmeterstanden</h2>

        <div fxLayout="column" fxFlex="100%" fxLayoutAlign="start start">
          <div>
            <span class="span-header mt-8">Stroom</span>
          </div>
          <div>
            <span style="width: 120px"> Totaal export </span>
            <span> {{group.total_export | explicitNumber: '1.3'}} kWh </span>
          </div>
          <div>
            <span> Totaal import </span>
            <span> {{group.total_import | explicitNumber: '1.3': null:true}} kWh </span>
          </div>
          <div>
            <span> Balans </span>
            <span> {{group.totalPower | explicitNumber: '1.3'}} kWh </span>
          </div>
          <div>
            <span class="span-header mt-8">Gas</span>
          </div>
          <div>
            <span> Totaal verbruik </span>
            <span> {{group.total_gas | number: '1.3'}} m³ </span>
          </div>
        </div>

        <mat-card>
          <mat-card-content>
            <mat-tab-group>
              <mat-tab label="Actueel">

                <div fxLayout="column" fxFlex="100%" fxLayoutAlign="start start">
                  <div>
                    <span class="span-header mt-8">Stroom</span>
                  </div>
                  <div>
                    <span style="width: 120px"> Uitwisseling </span>
                    <span> {{group.actual_power | number: '1.3'}} kW </span>
                  </div>
                  <div>
                    <span class="span-header mt-8">Gas</span>
                  </div>
                  <div>
                    <span> Actueel verbruik </span>
                    <span> {{group.actual_gas | number: '1.3'}} m³/h </span>
                  </div>
                  <div>
                    <span class="span-header mt-8">Solar</span>
                  </div>
                  <div>
                    <span> Actueel productie </span>
                    <span> {{group.actual_solar | number: '1.3'}} kW </span>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Statistieken" [disabled]="true">

              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>

      </div>
    </mat-drawer-content>
  </mat-drawer-container>


</div>
