<div class="mt-20" fxLayout="column">

  <div fxLayout="row">
    <div fxFlex="15%" fxFlex.xs="5%"></div>
    <div class="mt-20" fxFlex="70%" fxFlex.xs="90%">

      <mat-card *ngIf="!groupParticipant" fxLayout="column">
        <div fxLayout="row">
          <p class="mat-title gpx-text-primary" fxLayoutAlign="start center">
            <mat-icon class="mr-8">group</mat-icon>
            Groepsmeter
          </p>
        </div>

        <p>
          Start hier een nieuwe groepsmeter! Wanneer je bij een bestaande groep wil aansluiten, neem dan contact op met
          de beheerder van die groep. Via een uitnodiging kan je jouw meter dan aansluiten bij de groep. Je kan met een
          meter maar in één groep tegelijk actief zijn.
        </p>

        <div fxLayoutAlign="center end" fxLayout="column">
          <button (click)="createGroupMeter()" aria-label="" class="b-green mb-8" mat-button [disabled]="!selectedMeter">
            <mat-icon>add</mat-icon> Start een groepsmeter
          </button>
          <em *ngIf="!selectedMeter">
            Voeg eerst een meter toe aan je account, voordat je mee kan doen met een groepsmeter.
          </em>
        </div>

      </mat-card>

      <mat-card *ngIf="groupParticipant" fxLayout="column">
        <div fxLayout="row">
          <p class="mat-title gpx-text-primary" fxLayoutAlign="start center">
            <mat-icon class="mr-8">group</mat-icon>
            {{ groupMeter?.name }}
          </p>
          <div class="card-option-button" fxFlex fxLayoutAlign="end end">
            <button [matMenuTriggerFor]="menu" mat-icon-button>
              <mat-icon class="gpx-text-primary">settings</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <ng-container>
                <button (click)="transferManager()" *ngIf="isGroupManager" mat-menu-item>
                  <mat-icon>compare_arrows</mat-icon>
                  Draag groep over
                </button>
                <button (click)="leaveGroup()" [disabled]="isGroupManager" [matTooltip]="isGroupManager ? 'Draag eerst de groep over als je de groep wil verlaten': ''" mat-menu-item>
                  <mat-icon class="gpx-text-action">group_remove</mat-icon>
                  Verlaat {{ groupMeter?.name }}
                </button>
                <button (click)="deleteGroup()" *ngIf="isGroupManager" mat-menu-item>
                  <mat-icon class="gpx-text-action">clear</mat-icon>
                  Verwijder {{ groupMeter?.name }}
                </button>
              </ng-container>
            </mat-menu>
          </div>
        </div>

        <form *ngIf="groupMeterForm" [formGroup]="groupMeterForm" class="mt-20" fxFlex="100%" fxLayout="column"
              fxLayoutGap="12px"
              name="form" novalidate>

          <mat-form-field appearance="outline" fxFlex="100%">
            <mat-label>Groepsnaam</mat-label>
            <input autocomplete="off" formControlName="name" matInput placeholder="Meter naam" type="text" required>
            <mat-error>
              {{groupMeterForm.errorMessages.name?.errorMessage}}
            </mat-error>
            <mat-hint>
              De naam van de groepsmeter.
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="100%">
            <mat-label>Beschrijving</mat-label>
            <textarea autocomplete="off" cdkAutosizeMaxRows="5" cdkAutosizeMinRows="1" cdkTextareaAutosize
                      formControlName="summary" matInput placeholder="Een korte beschrijving" style="padding: 0" type="text">
            </textarea>
            <mat-error>
              {{groupMeterForm.errorMessages.name?.errorMessage}}
            </mat-error>
            <mat-hint>
              Een korte beschrijving van de groep, optioneel.
            </mat-hint>
          </mat-form-field>

          <div class="mr-8 ml-8">
            <mat-checkbox color="primary" formControlName="public" labelPosition="after">
              Deze groepsmeter mag publiek benaderd worden.
            </mat-checkbox>
          </div>

          <mat-form-field *ngIf="groupMeterForm.get('public').value" appearance="outline">
            <mat-label>Wijzig de publieke link voor je groep</mat-label>
            <input autocapitalize="none" autocomplete="off"
                   formControlName="public_key" matInput placeholder="Stel je eigen unieke url in! (laat leeg om een unieke url te genereren)">
            <mat-error>
              {{groupMeterForm.errorMessages.public_key?.errorMessage}}
            </mat-error>
            <mat-hint>
              Zo ziet jouw groep-link er dan uit:
              <a href="{{ groupMeter.public_key ? groupMeter.publicUrl : '#'}}" target="_blank">
                <em>{{groupMeterForm.getModel().publicUrl || '(Een nieuwe link wordt gegenereerd bij het opslaan)' }}</em>
              </a>. Deze link kan je delen met wie je wil!
            </mat-hint>
          </mat-form-field>

          <div class="mt-8 mr-8 ml-8">
            <mat-checkbox color="primary" formControlName="allow_invite" labelPosition="after">
              Gebruikers kunnen uitgenodigd worden voor deze groep
            </mat-checkbox>
          </div>

          <div *ngIf="groupMeterForm.get('allow_invite').value" class="mb-12" fxLayout="row" fxLayoutGap="15px">
            <div fxFlex>
              <mat-form-field appearance="outline" fxFlex="100%">
                <mat-label>Uitnodigingslink</mat-label>
                <input [value]="invitationUrl" matInput readonly>
                <mat-hint>
                  Via deze link kunnen anderen zich aansluiten bij <em>{{ groupMeter?.name }}</em>.
                </mat-hint>
              </mat-form-field>
            </div>
            <button (cdkCopyToClipboardCopied)="copyLink()" [cdkCopyToClipboard]="groupMeter?.invitationUrl" [class.b-green]="isCopied" class="mt-8"
                    mat-icon-button matTooltip="Copy" type="button">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>

          <div *ngIf="!groupMeterForm?.pristine" class="mt-20" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">

            <button (click)="initGroupMeterForm(groupMeter)" class="b-action" mat-button type="button">
              Annuleer
            </button>

            <button (click)="updateGroupMeter()" [disabled]="!groupMeterForm?.valid" class="b-green" mat-button
                    type="submit">
              <mat-icon>save</mat-icon>
              Opslaan
            </button>
          </div>

        </form>


        <div *ngIf="groupMeter && !isGroupManager">
          <b>Groepsbeschrijving</b>
          <p>
            <em>{{ groupMeter.summary }}</em>
          </p>
          <b>Publiek: </b> {{groupMeter.public ? 'Ja' : 'Nee'}}
          <p *ngIf="groupMeter.public">
            <a [href]="groupMeter.publicUrl" target="_blank">{{groupMeter.publicUrl}}</a>
          </p>
        </div>

        <div class="pt-12 pb-12">
          <mat-divider></mat-divider>
        </div>

        <div fxLayout="column">

          <div fxLayout="row">
            <p class="mat-title gpx-text-primary" fxLayoutAlign="start center">
              <mat-icon class="mr-8">emoji_people</mat-icon>
              Groepsleden
            </p>
            <div class="card-option-button" fxFlex fxLayoutAlign="end end">
            </div>
          </div>


          <form *ngIf="groupParticipantForm" [formGroup]="groupParticipantForm" class="mt-20 mb-20" fxFlex="100%"
                fxLayout="column" fxLayoutGap="12px" name="form" novalidate>

            <mat-form-field appearance="outline" fxFlex="100%">
              <mat-label>Jouw naam in de groep</mat-label>
              <input autocomplete="off" formControlName="display_name" matInput placeholder="Publieke Meter naam"
                     type="text" required>
              <mat-error>
                {{groupParticipantForm.errorMessages.display_name?.errorMessage}}
              </mat-error>
              <mat-hint>
                De naam van jouw meter in deze groep, deze is zichtbaar voor alle leden in de groep<span
                *ngIf="groupMeter?.public"> en het publiek</span>.
              </mat-hint>
            </mat-form-field>

            <div *ngIf="!groupParticipantForm?.pristine" class="mt-20" fxLayout="row" fxLayoutAlign="end"
                 fxLayoutGap="20px">

              <button (click)="initParticipantForm(groupParticipant)" class="b-action" mat-button type="button">
                Annuleer
              </button>

              <button (click)="updateGroupParticipant()" [disabled]="!groupParticipantForm?.valid" class="b-green" mat-button
                      type="submit">
                <mat-icon>save</mat-icon>
                Opslaan
              </button>
            </div>

          </form>

          <table mat-table [dataSource]="groupMeter?.getParticipants()">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <ng-container matColumnDef="manager">
              <th mat-header-cell *matHeaderCellDef style="width: 32px"></th>
              <td mat-cell *matCellDef="let participant">
                <mat-icon style="margin-left: -16px" matTooltip="Groepmanager" [inline]="true" *ngIf="participant.user_pk === groupMeter.getManager().pk">security</mat-icon>

                <mat-icon style="margin-left: -16px;cursor: pointer" *ngIf="isGroupManager && participant.user_pk !== groupMeter.getManager().pk" [matMenuTriggerFor]="participantOptions" [inline]="true">more_vert</mat-icon>
                <mat-menu #participantOptions="matMenu">
                  <button (click)="transferManager(participant)" mat-menu-item>Maak {{ participant?.display_name }} groepsmanager</button>
                  <button (click)="removeParticipant(participant)" mat-menu-item>Verwijder {{ participant?.display_name }} uit groep</button>
                </mat-menu>
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Deelnemer </th>
              <td mat-cell *matCellDef="let participant">
                <div>
                  {{ participant?.display_name }}
                </div>
                <div fxHide.gt-sm><em>{{participant.typeName}}</em></div>
              </td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell fxHide.lt-md *matHeaderCellDef> Type </th>
              <td mat-cell fxHide.lt-md *matCellDef="let participant">
                {{participant.typeName}}
              </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> In groep sinds </th>
              <td mat-cell *matCellDef="let participant">
                {{ participant?.joined_on | date:'longDate' }}
              </td>
            </ng-container>

            <ng-container matColumnDef="icon">
              <th mat-header-cell fxHide.lt-md *matHeaderCellDef style="width: 50px"></th>
              <td mat-cell fxHide.lt-md *matCellDef="let participant">
                <mat-icon [matTooltip]="participant.statusText()" [inline]="true">
                  {{ participant.statusIcon() }}
                </mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['manager', 'name', 'type', 'date', 'icon']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['manager', 'name', 'type', 'date', 'icon'];"></tr>
          </table>
        </div>
      </mat-card>
    </div>
    <div fxFlex="15%" fxFlex.xs="5%"></div>
  </div>
</div>
