:host {
  height: 100%;

  gpx-question-panel {
    margin-bottom: 12px;
  }

  .section {
    margin-top: 32px;
  }

  .faq-section-card {
    text-align: center;

    mat-icon {
      transform: scale(2);
    }
  }

  h3 {
    font-weight: bold;
  }

}

