<div fxHide.gt-sm fxLayout="row">
  <!-- Layout for mobile -->
  <div fxFlex="70%">
    <app-group-meter-card [participant]="data" [groupMeter]="group" connection="side"></app-group-meter-card>
  </div>
  <div fxFlex="30%" fxLayout="column" fxLayoutAlign="center center">
    <app-energy-path
      style="width: 100%;"
      *ngIf="data"
      [reverse]="data.actual_power <= 0"
      [speed]="animationSpeed"
      direction="rl"
      orientation="horizontal">
    </app-energy-path>
  </div>
</div>

<div fxHide.lt-md fxLayout="column">
  <!-- Layout for desktop -->

  <div *ngIf="connection == 'bottom'">
    <app-group-meter-card [participant]="data" [groupMeter]="group" [connection]="connection"></app-group-meter-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" style="height:100px">
    <app-energy-path
      style="height: 100%;"
      *ngIf="data"
      [direction]="connection === 'bottom' ? 'tb' : 'bt'"
      [reverse]="data.actual_power <= 0"
      [speed]="animationSpeed"
      orientation="vertical">
    </app-energy-path>
  </div>
  <div *ngIf="connection == 'top'">
    <app-group-meter-card [participant]="data" [groupMeter]="group" [connection]="connection"></app-group-meter-card>
  </div>
</div>

