<div class="row-height" flex="100%" fxLayoutAlign="center center">
  <mat-card [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}" class="forgot-password-card" fxLayout="column">

    <ng-container *ngIf="!submitSuccess">

      <div class="logo" fxLayoutAlign="center center">
        <img src="assets/logo/oanax-edu-logo.svg">
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">

        <p class="mat-title">{{ 'FORGOT_PASSWORD.TITLE' | translate }}</p>

        <form (ngSubmit)="onSubmit(forgotPasswordForm)" [formGroup]="forgotPasswordForm" class="mt-24 forgot-password-form"
              name="forgotPasswordForm" novalidate>
          <div fxLayout="column" fxLayoutAlign="center">
            <mat-form-field fxFlex>
              <input formControlName="email" matInput name="email" placeholder="Email" type="email">
              <mat-error *ngIf="forgotPasswordFormErrors.email.required">
                {{ 'FORGOT_PASSWORD.REQUIRED' | translate }}
              </mat-error>
              <mat-error *ngIf="!forgotPasswordFormErrors.email.required && forgotPasswordFormErrors.email.email">
                {{ 'FORGOT_PASSWORD.INVALID_EMAIL' | translate }}
              </mat-error>
            </mat-form-field>
            <div fxLayoutAlign="end center">
              <button [disabled]="forgotPasswordForm.invalid" aria-label="SEND RESET LINK" class="submit-button" color="accent"
                      mat-raised-button>
                {{ 'FORGOT_PASSWORD.SEND_RESET' | translate }}
              </button>
            </div>

          </div>
        </form>
        <a [routerLink]="'/login'" class="gpx-text-primary mt-32">
          {{ 'FORGOT_PASSWORD.BACK_LOGIN' | translate }}
        </a>
      </div>
    </ng-container>

    <ng-container *ngIf="submitSuccess">
      <div fxLayoutAlign="center center">
        <mat-icon class="gpx-text-primary success-icon">email</mat-icon>
      </div>
      <p class="mat-title" fxLayoutAlign="center center">
        {{ 'FORGOT_PASSWORD.SEND_SUCCESS' | translate }}
      </p>

      <mat-card-subtitle>
        <p class="subtitle-text mt-24">{{ 'FORGOT_PASSWORD.CHECK_INBOX' | translate }}</p>
      </mat-card-subtitle>

      <a [routerLink]="'/login'" class="gpx-text-primary mt-24" fxLayoutAlign="center center">
        {{ 'FORGOT_PASSWORD.BACK_LOGIN' | translate }}
      </a>
    </ng-container>

  </mat-card>
</div>
