<div fxFlex="100%">
  <mat-card class="p-36 login-card" fxFlex="100%" fxLayout="column">

    <div fxLayout="row">
      <div fxFlex="15%"></div>
      <div fxFlex="70%">
        <img src="assets/background/sun-background.png">
      </div>

      <div fxFlex="15%"></div>
    </div>

    <form (ngSubmit)="onSubmit()" *ngIf="forgotPasswordForm" [formGroup]="forgotPasswordForm" class="mt-40" fxLayout="column" novalidate>
      <mat-form-field>
        <input autocapitalize="none" formControlName="username" matInput name="username" placeholder="Gebruikersnaam">
        <mat-error>
          {{forgotPasswordForm.errorMessages.username.errorMessage}}
        </mat-error>
      </mat-form-field>

      <mat-hint>
        Na de aanvraag ontvang je een email, met daarin een link om je wachtwoord te resetten.
      </mat-hint>

      <mat-error>
        {{forgotPasswordForm.errorMessages.errorMessage}}
      </mat-error>

      <button [disabled]="forgotPasswordForm.invalid" aria-label="Wachtwoord vergeten" class="mt-20" color="primary" type="submit" mat-raised-button>
        Vraag nieuw wachtwoord aan
      </button>
    </form>

    <div>
      <mat-divider [inset]="true"></mat-divider>
    </div>

    <div class="mt-20">
      <div class="register" fxLayout="column" fxLayoutAlign="center center">
        <span class="text">Gebruikersnaam ook vergeten, geen email aan je account gekoppeld of geen mail ontvangen?</span>
        <a target="_blank" href="https://www.gpx.nl/contactpagina/">Neem contact op met GPX</a>
      </div>
    </div>

    <div class="mt-20">
      <div class="register" fxLayout="column" fxLayoutAlign="center center">
        <span class="text">Nog geen account?</span>
        <a [routerLink]="'/register'">Registreer</a>
      </div>
    </div>

  </mat-card>
</div>


