:host {

  .mat-card.inactive {
    background: #EEE;
  }

  .mat-card {
    height: 200px;
  }

  .participant-container {
    position: relative;
    padding: 0;
    border-radius: 10px;
    border: 2px solid;
    height: 200px;
    background: #fff;

    .name-container {
      position: absolute;
      background: linear-gradient(to bottom, #fafafa, #fff);
      top: 0;
      left: 12px;
      transform: translate(0, -50%);
    }

    .name-container.top { // Top output
      background: linear-gradient(to top, #fafafa, #fff);
      bottom: 0;
      top: unset;
      transform: translate(0, 50%);
    }

    .net-connect {
      padding: 5px 12px;
      width: 70px;
      text-align: center;
      &.top-connected {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
      &.bottom-connected {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      &.side-connected {
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
      }
    }

    .card-icon {
      margin: 5px;
      width: 40px;
      height: 40px;
    }
  }

  .participant-container:hover {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  }

  .participant-container.producing {
    border-color: darkseagreen;

    .net-connect {
      background-color: darkseagreen;
    }
  }

  .participant-container.consuming {
    border-color: lightgrey;

    .net-connect {
      background-color: lightgray;
    }
  }
}

.unit {
  font-size: 0.9em;
}

