<fieldset (click)="groupParticipantDetail()" class="cursor-pointer participant-container"
          fxFlex="100%" *ngIf="participant" [ngClass]="participant.actual_power > 0 ? 'producing' : 'consuming'">
  <legend class="pl-8 pr-8 mat-body-strong name-container" [ngClass]="connection">
    {{ participant.display_name }} <mat-icon [matTooltip]="statusText()" [inline]="true">{{ statusIcon() }}</mat-icon>
  </legend>
  <div fxLayout="column" fxLayout.sm="row" fxLayoutAlign="space-between center" style="height: 100%">
    <div *ngIf="connection === 'top'" class="net-connect" [ngClass]="connection">
      <div matTooltip="Actuele uitwisseling met het net">
        <strong>{{ participant.actual_power | explicitNumber: '1.1-2' }}</strong> <br/> kW
      </div>
    </div>

    <div fxLayout="column" class="p-16">
      <div *ngIf="participant.type === 'prosumer'" matTooltip="Actueel opwek">
        <mat-icon [inline]="true">wb_sunny</mat-icon>
        {{ participant.actual_solar | explicitNumber: '1.1-2' }} kW
      </div>
      <div *ngIf="participant.type === 'prosumer' || participant.type === 'consumer'" matTooltip="Intern verbruik (berekend)">
        <mat-icon [inline]="true">power</mat-icon>
        {{ participant.actualInternal | number: '1.1-2' }} kW
      </div>
      <div *ngIf="participant.total_gas > 0" matTooltip="Actueel Gasverbruik">
        <mat-icon [inline]="true">local_fire_department</mat-icon>
        {{ participant.actual_gas | number: '1.1-2':null }} m³/h
      </div>
    </div>

    <div *ngIf="connection === 'bottom'" class="net-connect" [ngClass]="connection">
      <div matTooltip="Actuele uitwisseling met het net">
        <strong>{{ participant.actual_power | explicitNumber: '1.1-2' }}</strong> <br/> kW
      </div>
    </div>

    <div *ngIf="connection === 'side'" class="net-connect" [ngClass]="connection">
      <div matTooltip="Actuele uitwisseling met het net">
        <strong>{{ participant.actual_power | explicitNumber: '1.1-2' }}</strong> <br/> kW
      </div>
    </div>

  </div>
</fieldset>

