<div fxLayout="column" class="dialog-outer-container">

  <div fxLayout="row" class="top-container" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayout.lt-md="column">
      <div class="mt--10 mb-0 mat-title" [ngClass.xs]="'mat-body-2'">
        {{ participant.display_name }}
      </div>
      <div class="ml-12 dialog-title-subtitle" fxHide.lt-md>
        Actief sinds {{participant.joined_on | date: 'longDate'}}
      </div>
    </div>

    <div fxLayout="row" class="card-option-button">
      <button mat-icon-button (click)="drawer.open()" *ngIf="media.isActive('lt-md')">
        <mat-icon>info</mat-icon>
      </button>
      <div class="mr-8 ml-8" *ngIf="media.isActive('lt-md')">
        <mat-divider [vertical]="true" style="height: 100%;"></mat-divider>
      </div>
      <button mat-icon-button (click)="dialogRef.close()">
        <mat-icon class="b-text-action">clear</mat-icon>
      </button>
    </div>

  </div>

  <mat-drawer-container class="outer-container gpx-sidenav-container"
    [hasBackdrop]="media.isActive('lt-md')">
    <mat-drawer #drawer [disableClose]="!media.isActive('lt-md')"
      [mode]="!media.isActive('lt-md') ? 'side' : 'over'" [opened]="!media.isActive('lt-md')" position="end"
      class="standard-sidenav no-padding height-self">

      <div class="p-16" fxLayout="column">

        <div fxLayout="column" fxHide.gt-sm>
          <button mat-icon-button class="b-secondary" (click)="matDrawer.close()">
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>

        <img src="/assets/group-meter/participant-icon-PLACEHOLDER.png" alt="group type">

        <div fxHide.gt-sm>
          Actief sinds {{participant.joined_on | date: 'longDate'}}
        </div>

        <div>
          Laatste update {{participant.last_activity | date: 'short'}}
        </div>

      </div>

    </mat-drawer>
    <mat-drawer-content class="inner-container">

      <div fxLayout="column" fxFlex="100%" fxLayoutAlign="space-between" fxLayoutGap="20px">

        <h2>Groepscontributie</h2>

        <div fxLayout="column" fxFlex="100%" fxLayoutAlign="start start">
          <div>
            <p>Stroom</p>
          </div>
          <div>
            <span> Export: </span>
            <span> {{participant.total_export | number: '1.3'}} kWh </span>
          </div>
          <div>
            <span> Import: </span>
            <span> {{participant.total_import | number: '1.3'}} kWh </span>
          </div>
          <div>
            <span> Totaal balans: </span>
            <span> {{participant.totalPower | explicitNumber: '1.3'}} kWh </span>
          </div>
          <div>
            <br/>
            <p>Gas</p>
          </div>
          <div>
            <span> Totaal verbruik: </span>
            <span> {{participant.total_gas | number: '1.3'}} m³ </span>
          </div>
        </div>

        <mat-card>
          <mat-card-content>
            <mat-tab-group>
              <mat-tab label="Actueel">

                <div fxLayout="row" fxLayoutAlign="space-around start" fxFlex="100%" class="p-16">
                  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="participant.type === 'prosumer'" matTooltip="Actueel opwek">
                    <img src="/assets/group-meter/solar.png" alt="solar" class="card-icon">
                    <div fxLayout="column" fxLayoutAlign="center center">
                      <div>{{ participant.actual_solar | number: '1.1-2' }}</div>
                      <div class="unit">kW</div>
                    </div>
                  </div>
                  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="participant.type === 'battery'" matTooltip="Batterij">
                    <img src="/assets/group-meter/battery.png" alt="solar" class="card-icon">
                    <div fxLayout="column" fxLayoutAlign="center center">
                      <div>{{ participant.actual_power | number: '1.1-2' }}</div>
                      <div class="unit">kW</div>
                    </div>
                  </div>
                  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="participant.type === 'producer_solar'" matTooltip="Zonproductie">
                    <img src="/assets/group-meter/producer_solar.png" alt="solar" class="card-icon">
                    <div fxLayout="column" fxLayoutAlign="center center">
                      <div>{{ participant.actual_power | number: '1.1-2' }}</div>
                      <div class="unit">kW</div>
                    </div>
                  </div>
                  <div fxLayout.gt-sm="column" fxLayoutAlign="center center" *ngIf="participant.type === 'producer_wind'" matTooltip="Windproductie">
                    <img src="/assets/group-meter/producer_wind.png" alt="wind" class="card-icon">
                    <div fxLayout="column" fxLayoutAlign="center center">
                      <div>{{ participant.actual_power | number: '1.1-2' }}</div>
                      <div class="unit">kW</div>
                    </div>
                  </div>
                  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="participant.type === 'prosumer' || participant.type === 'consumer'" matTooltip="Intern verbruik (berekend)">
                    <img src="/assets/group-meter/lightbulb.png" alt="lightbulb" class="card-icon">
                    <div fxLayout="column" fxLayoutAlign="center center">
                      <div>{{ participant.actualInternal | number: '1.1-2' }}</div>
                      <div class="unit">kW</div>
                    </div>
                  </div>
                  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="participant.total_gas > 0" matTooltip="Actueel Gasverbruik">
                    <img src="/assets/group-meter/flame.png" alt="flame" class="card-icon">
                    <div fxLayout="column" fxLayoutAlign="center center">
                      <div>{{ participant.actual_gas | number: '1.1-2':null }}</div>
                      <div class="unit"> m³/h</div>
                    </div>
                  </div>
                </div>

              </mat-tab>
              <mat-tab label="Statistieken" [disabled]="true">

              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>

      </div>

    </mat-drawer-content>
  </mat-drawer-container>


</div>
