@import '@gpx/styles/gpx';

:host {

  #auth-page {
    height: calc(100vh - 120px);
    width: 100%;
    overflow: scroll;
    // background: radial-gradient(63.56% 60%, rgba(60, 165, 213, 1) 0%, rgba(23, 43, 77, 1) 100%);
    // background: radial-gradient(63.56% 60%, #4ca64c 0%, white 100%);
  }
}