@import '@gpx/styles/gpx';

:host {
  height: 100%;

  .drawer-container {
    width: 350px;
    max-width: 350px;
  }

  .content-container {
    position: relative;
    height: calc(100vh - 125px);
  }

  .sticky-container {
    background-color: #fafafa;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
  }

  .filter-input {
    width: 130px;
  }

  .range-input-field {
    cursor: pointer;
    margin-bottom: -12px;
  }

  .header-image {
    height: 34px;
  }
}
