<mat-drawer-container [hasBackdrop]="false" fxFlex="100%" xmlns="http://www.w3.org/1999/html">
  <mat-drawer #drawer class="drawer-container" mode="'over'" position="end">
    <div class="p-16" fxLayout="column">
      <div class="mb-12">
        <button (click)="drawer.toggle()" class="b-secondary" mat-icon-button>
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
      <div style="margin-left: -16px; margin-right: -16px">
        <mat-divider></mat-divider>
      </div>
      <div class="mt-20">
        <mat-icon>info</mat-icon>
      </div>
      <p>Wordt bewust van je energie opwekking en opnamen</p>


      <div class="mt-16">
        <!-- <mat-card> -->
        <ng-container *ngIf="meter">
          <div>
            <p class="mat-title">In deze periode</p>
            <p>
              <em>van {{rangePickerForm.get('timestamp_after').value | date: "short"}}</em><br />
              <em>tot {{rangePickerForm.get('timestamp_before').value | date: "short"}}</em><br />
            </p>
            <p>
              Stroom import (1): {{ meter.period_import_1 | number }} kWh<br/>
              Stroom import (2): {{ meter.period_import_2 | number }} kWh<br/>
              Stroom export (1): {{ meter.period_export_1 | number }} kWh<br/>
              Stroom export (2): {{ meter.period_export_2 | number }} kWh<br/>
              Zonproductie: {{ meter.period_solar | number }} kWh<br/>
              Gas: {{ meter.period_gas | number }} m³<br/>
            </p>
          </div>
          <div>
            <p class="mat-title">Stroom</p>
            <p>
              <em>Laatste update {{meter.power_timestamp | date: "short"}}</em><br/>
            </p>
            <p>
              Actueel: {{meter.actualPower | number }} kW (Tarief: {{meter.tariff | number }})<br />
            </p>
            <p>
              Import 1: {{meter.total_power_import_1 | number }} kWh <br />
              Import 2: {{meter.total_power_import_2 | number }} kWh <br />
              Export 1: {{meter.total_power_export_1 | number }} kWh <br />
              Export 2: {{meter.total_power_export_2 | number }} kWh <br />
              --- <br />
              Totaal import: {{meter.totalPowerImport | number }} kWh <br />
              Totaal export: {{meter.totalPowerExport | number }} kWh <br />
              Meter balans: {{meter.totalPower | number }} kWh <br />
            </p>
          </div>
          <p class="mat-title">Gas</p>
          <p *ngIf="meter.gas_timestamp">
            <em>Laatste update {{meter.gas_timestamp | date: "short"}}</em><br/>
            Actueel gasverbruik: {{meter.actual_gas | number }} m³/h <br/>
            Totaal gasverbruik: {{meter.total_gas | number }} m³ <br/>
          </p>
          <p class="mat-title">Solar</p>
          <p *ngIf="meter.solar_timestamp">
            <em>Laatste update {{meter.solar_timestamp | date: "short"}}</em><br/>
            Actueel productie: {{meter.actual_solar | number }} kW <br/>
            <span *ngIf="meter.total_solar">Totaal zonproductie: {{meter.total_solar | number }} kWh </span><br/>
          </p>
        </ng-container>
        <!-- </mat-card> -->
      </div>

    </div>

  </mat-drawer>
  <mat-drawer-content>

    <div fxLayout="column">
      <div class="p-16" fxLayout="row">

        <div fxFlex>
          <p class="mat-body-2 mt-8 mb--12">{{meter?.name}} gegevens</p>
        </div>
        <div class="ml-8">

          <button (click)="drawer.toggle()" mat-stroked-button>
            <mat-icon>info</mat-icon>
            <span class="mat-caption" style="color: black;">
              Meter details
            </span>
          </button>
        </div>


        <!-- <button mat-stroked-button *ngIf="groupMeter?.public" class="float-right" style="float: right">
          <span style="color: black;" class="mat-caption">
            <a [href]="groupMeter.publicUrl" target="_blank">Publieke link</a>
          </span>
        </button> -->

      </div>

      <div>
        <mat-divider></mat-divider>
      </div>

      <div class="mt-40 mb-40" fxFlex="100%" fxLayout="row">
        <div fxFlex="5%" fxFlex.xs="2.5%"></div>
        <div fxFlex="90%" fxFlex.xs="95%">

          <div fxLayout="column" fxLayoutGap="32px">

            <div>
              <mat-card fxFlex="420px" fxFlex.xs="100%">

                <form *ngIf="rangePickerForm" [formGroup]="rangePickerForm">

                  <div>
                    <mat-form-field appearance="outline" fxFlex fxFlex.lt-md="100%" class="range-input-field" [matMenuTriggerFor]="rangeMenu">
                      <mat-label>
                        Periode
                      </mat-label>
                      <mat-date-range-input style="display: none" [formGroup]="rangePickerForm" [rangePicker]="rangePicker">
                        <input matStartDate placeholder="Start datum" formControlName="timestamp_after" [rangePicker]="rangePicker" readonly>
                        <input matEndDate placeholder="Eind datum" formControlName="timestamp_before" [rangePicker]="rangePicker" readonly>
                      </mat-date-range-input>

                      <div role="group" fxLayout.lt-md="column" fxLayoutAlign="start center">
                        <input matInput placeholder="Startdatum" autocomplete="off" readonly
                               [value]="rangePickerForm.get('timestamp_after').value | date: 'short'" class="filter-input">
                        <span style="margin: 0 15px">-</span>
                        <input matInput placeholder="Einddatum" autocomplete="off" readonly
                               [value]="rangePickerForm.get('timestamp_before').value | date: 'short'" class="filter-input">
                      </div>

                      <mat-hint>Selecteer een periode</mat-hint>
<!--                      <mat-icon matPrefix class="mr-8">keyboard_arrow_down</mat-icon>-->
                      <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>

                      <mat-menu #rangeMenu="matMenu" focusFirstItem="false">
                        <button mat-menu-item (click)="rangePicker.open()">
                          Selecteer custom periode
                        </button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item (click)="onRangeFilterChange(filterRangeOptions.day)">
                          Afgelopen 24 uur
                        </button>
                        <button mat-menu-item (click)="onRangeFilterChange(filterRangeOptions.week)">
                          Afgelopen week
                        </button>
                        <button mat-menu-item (click)="onRangeFilterChange(filterRangeOptions.month)">
                          Afgelopen maand
                        </button>
                        <button mat-menu-item (click)="onRangeFilterChange(filterRangeOptions.year)">
                          Afgelopen Jaar
                        </button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item (click)="onRangeFilterChange(filterRangeOptions.current_day)">
                          Vandaag
                        </button>
                        <button mat-menu-item (click)="onRangeFilterChange(filterRangeOptions.current_week)">
                          Deze week
                        </button>
                        <button mat-menu-item (click)="onRangeFilterChange(filterRangeOptions.current_month)">
                          Deze maand
                        </button>
                        <button mat-menu-item (click)="onRangeFilterChange(filterRangeOptions.current_year)">
                          Dit jaar
                        </button>
                      </mat-menu>
                      <mat-date-range-picker #rangePicker (closed)="closedRangePicker()"></mat-date-range-picker>
                    </mat-form-field>
                  </div>

                  <!-- <div> -->
                  <!-- <mat-form-field appearance="outline" fxFlex="155px" class="mr-8 ml-16">
                    <mat-label>Start</mat-label>
                    <input matInput formControlName="start" autocomplete="off" readonly>
                  </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex="155px" class="mr-8 ml-8">
                    <mat-label>Eind</mat-label>
                    <input matInput formControlName="end" autocomplete="off" readonly>
                  </mat-form-field> -->
                  <!-- </div> -->

                </form>

              </mat-card>
            </div>

            <mat-card fxFlex="100%">

              <h1>Stroomverbruik</h1>

              <dashboard-graph [chartInput]="energyChartInput" [loading]="loadingEnergy" yAxisLabel="Stroom (kW)"></dashboard-graph>

            </mat-card>


            <mat-card fxFlex="100%">

              <h1>Gasverbruik</h1>

              <dashboard-graph [chartInput]="gasChartInput" [loading]="loadingGas" yAxisLabel="Gas (m³/h)"></dashboard-graph>

            </mat-card>
          </div>


          <!-- </div> -->


        </div>
        <div fxFlex="5%" fxFlex.xs="2.5%"></div>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>
