<mat-toolbar class="p-0 mat-elevation-z1">

  <div fxFlex="100%" fxLayout="row" fxLayoutAlign="start center">

    <div fxFlex fxLayout="row">

      <div *ngIf="user" fxHide.gt-md fxLayoutAlign="start center">
        <button (click)="toggleSidebar()" class="ml-12" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>


      <!-- <div class="logo" fxLayoutAlign="start center" fxHide.gt-xs>
        <img class="logo-icon" src="assets/logo/gpx-logo.png">
      </div> -->

      <a [routerLink]="user ? ['personal-meter'] : ['login'] " fxLayout="row" fxLayoutAlign="start center">
        <div class="logo">
          <img class="logo-icon" src="assets/logo/gpx-logo.png">
          <!-- <img class="logo-icon" src="assets/logo/oanax-edu-logo.svg"> -->
        </div>
      </a>

    </div>


    <ng-container *ngIf="user; else userNotLoggedIn">


      <div fxLayout="row" fxLayoutAlign="end center">

        <button [matMenuTriggerFor]="userMenu" class="user-button" mat-button>
          {{ user.username }}
          <mat-icon class="middle-icon">
            account_circle
          </mat-icon>
        </button>
        <!-- configuration menu -->

        <mat-menu #userMenu="matMenu" [overlapTrigger]="false" backdropClass="user-dropdown">

          <div class="mb-32 mt-24" fxLayout="column" fxLayoutAlign="center center" routerLink="/personal-meter"
               style="cursor: pointer">
            <mat-icon class="middle-icon mb-8">
              account_circle
            </mat-icon>
            <p class="mat-body-2">{{user?.display_name | shortenChars: 40}}</p>
            <span class="mt--10">{{user?.email | shortenChars: 40}}</span>
          </div>

          <div>
            <mat-divider></mat-divider>
          </div>

          <div class="m-12" fxLayoutAlign="center center">
            <button fxFlex="80%" mat-stroked-button routerLink="/personal-meter">
              <mat-icon class="b-text-dark-grey mr-4">dashboard</mat-icon>
              <span class="b-text-dark-grey">Persoonlijke meter</span>
            </button>
          </div>

          <div class="m-12" fxLayoutAlign="center center">
            <button fxFlex="80%" mat-stroked-button routerLink="/logout">
              <mat-icon class="b-text-dark-grey mr-4">exit_to_app</mat-icon>
              <span class="b-text-dark-grey">Uitloggen</span>
            </button>
          </div>


          <div>
            <mat-divider></mat-divider>
          </div>


        </mat-menu>
        <!--User-menu-->
      </div>

    </ng-container>
    <ng-template #userNotLoggedIn>
      <button [routerLink]="'/register'" mat-button>
        <!-- <span>{{'TOOLBAR.REGISTER' | translate}}</span> -->
        <span>Registreer</span>
      </button>
      <button [routerLink]="'/login'" mat-button>
        <!-- <span>{{'TOOLBAR.LOGIN' | translate}}</span> -->
        <span>Login</span>
      </button>


    </ng-template>

  </div>


</mat-toolbar>
