<form fxLayout="column" name="form" [formGroup]="changePasswordForm" *ngIf="changePasswordForm" novalidate fxLayoutGap="12px">

  <div fxLayout="row" >
    <mat-form-field [floatLabel]="labelType" fxFlex="100%" appearance="outline" >
      <mat-label>Oude wachtwoord</mat-label>

      <input matInput [type]="show_password_old ? 'text' : 'password'"
        placeholder="Oude wachtwoord" formControlName="password">
      <mat-icon matSuffix class="cursor-pointer" (click)="show_password_old = !show_password_old">
        {{show_password_old ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="changePasswordForm.errorMessages.password.errorMessage">
        {{changePasswordForm.errorMessages.password.errorMessage}}
      </mat-error>
    </mat-form-field>
  </div>


  <div fxLayout="row" >
    <mat-form-field [floatLabel]="labelType" fxFlex="100%" appearance="outline">
      <mat-label>Nieuw wachtwoord</mat-label>

      <input matInput [type]="show_password ? 'text' : 'password'" placeholder="Nieuw wachtwoord"
        formControlName="new_password">
      <mat-icon matSuffix class="cursor-pointer" (click)="show_password = !show_password">
        {{show_password ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="changePasswordForm.errorMessages.new_password.errorMessage">
        {{changePasswordForm.errorMessages.new_password.errorMessage}}
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row" >
    <mat-form-field [floatLabel]="labelType" fxFlex="100%" appearance="outline">
      <mat-label>Bevestig nieuw wachtwoord</mat-label>
      <input matInput [type]="show_password ? 'text' : 'password'" placeholder="Bevestig nieuw wachtwoord"
        formControlName="confirm_password">
        <mat-icon matSuffix class="cursor-pointer" (click)="show_password = !show_password">
          {{show_password ? 'visibility' : 'visibility_off'}}
        </mat-icon>
      <mat-error *ngIf="changePasswordForm.errorMessages.confirm_password.errorMessage">
        {{changePasswordForm.errorMessages.confirm_password.errorMessage | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <div fxFlex fxLayoutAlign="end">
    <button mat-raised-button class="b-secondary" (click)="onSubmit()" [disabled]="changePasswordForm.invalid">
      Opslaan
    </button>
  </div>

</form>