<div class="p-8" fxFlex="100%" fxLayout="column">

  <div class="mt-40" fxLayoutAlign="center center">
    <p class="mat-title b-text-action">
      Deze pagina bestaat niet!
    </p>
  </div>

  <div fxFlex="100%" fxLayout="row">
    <div fxFlex="20%" fxFlex.xs="5%"></div>
    <div fxFlex="60%" fxFlex.xs="90%" fxLayoutAlign="center center">
      <img class="not-found-img" src="assets/background/not-found.png">
    </div>
    <div fxFlex="20%" fxFlex.xs="5%"></div>
  </div>

  <div>
    <a class="mat-title" fxLayoutAlign="center center" routerLink="/">
      Terug naar het dashboard
    </a>
  </div>


  <div class="mt-20 mb-20"></div>
  <div class="mt-20 mb-20"></div>
  <div fxLayout="row">
    <div fxFlex="10%" fxFlex.sm="2.5%" fxFlex.xs="1%"></div>
    <div fxFlex="80%" fxFlex.sm="95%" fxFlex.xs="98%">
      <div fxLayout="row" fxLayout.lt-md="column">
        <!--        Error content       -->
      </div>
    </div>
    <div fxFlex="10%" fxFlex.sm="2.5%" fxFlex.xs="1%"></div>

  </div>
</div>
