@import '@gpx/styles/gpx';

:host {

  .row-height {
    min-height: calc(100vh - 56px);
  }

  .reset-password-card {
    width: 400px;
    max-width: 400px;

    @include media-breakpoint('xs') {
      width: 100%;
    }

    .logo {
      width: 128px;
      margin: 32px auto;
    }

    .forgot-password-form {
      width: 90%;
    }

    .error-icon {
      height: 70px !important;
      width: 70px !important;
      font-size: 70px !important
    }

    .subtitle-text {
      text-align: center;
      text-justify: inter-word;
    }
  }
}
