<div fxFlex="100%">
  <mat-card class="p-36 login-card" fxFlex="100%" fxLayout="column">

    <div fxLayoutAlign="center center" *ngIf="loading">
      <mat-spinner [diameter]="100" color="primary"></mat-spinner>
    </div>

    <ng-container *ngIf="!loading && !submitSuccess && hashValid">

      <p class="mat-title mt-24" fxLayoutAlign="center">
        Stel een nieuw wachtwoord in
      </p>

      <form [formGroup]="resetPasswordForm" class="mt-16" name="resetPasswordForm" novalidate>
        <div fxLayout="column" fxLayoutAlign="center">

          <mat-form-field>
            <input [type]="showPassword ? 'text' : 'password'" placeholder="Nieuw wachtwoord" formControlName="password" matInput autocapitalize="none">
            <mat-icon (click)="showPassword = !showPassword" class="cursor-pointer" matSuffix>
              {{showPassword ? 'visibility' : 'visibility_off'}}
            </mat-icon>
            <mat-error>
              {{ resetPasswordForm.errorMessages.password.errorMessage }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input placeholder="Herhaal wachtwoord" formControlName="confirm_password" matInput type="password" autocapitalize="none">
            <mat-error>
              {{ resetPasswordForm.errorMessages.confirm_password.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayoutAlign="end">

          <button [disabled]="resetPasswordForm.invalid" (click)="onSubmit()" type="submit" aria-label="CONFIRM" class="submit-button" color="primary"
                  mat-raised-button>
            Verzenden
          </button>
        </div>
      </form>

      <a [routerLink]="'/login'" class="gpx-text-primary mt-24" fxLayoutAlign="center center">
        Terug naar login
      </a>
    </ng-container>

    <ng-container *ngIf="!loading && submitSuccess && hashValid">
      <div fxLayoutAlign="center center">
        <mat-icon class="gpx-text-primary">mood</mat-icon>
      </div>

      <p class="mat-title mt-24 gpx-text-primary" fxLayoutAlign="center center">
        Je nieuwe wachtwoord is ingesteld!
      </p>

      <a [routerLink]="'/login'" class="mt-24 gpx-text-primary" fxLayoutAlign="center center">
        Ga verder met inloggen
      </a>
    </ng-container>

    <ng-container *ngIf="!loading && !hashValid">
      <div fxLayoutAlign="center center">
        <mat-icon>mood_bad</mat-icon>
      </div>

      <p class="mat-title mt-24 gpx-text-action" fxLayoutAlign="center center">
        Deze link is verlopen!
      </p>

      <a [routerLink]="'/forgot-password'" class="gpx-text-primary mt-12" fxLayoutAlign="center">
        Vraag nieuw wachtwoord aan
      </a>
      <a [routerLink]="'/login'" class="gpx-text-primary mt-4" fxLayoutAlign="center">
        Terug naar login
      </a>
    </ng-container>

  </mat-card>
</div>


