<div class="row-height" flex="100%" fxLayoutAlign="center center">
  <mat-card [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}" class="reset-password-card" fxLayout="column">


    <ng-container *ngIf="loading">
      <oanax-loading-indicator [loadingIndicatorText]="''"></oanax-loading-indicator>
    </ng-container>

    <ng-container *ngIf="!loading && !submitSuccess && hashValid">

      <p class="mat-title mt-24" fxLayoutAlign="center">
        {{'RESET_PASSWORD.TITLE' | translate}}
      </p>

      <form (ngSubmit)="onSubmit(resetPasswordForm)" [formGroup]="resetPasswordForm" class="mt-16"
            name="resetPasswordForm" novalidate>
        <div fxLayout="column" fxLayoutAlign="center">

          <mat-form-field>
            <input [placeholder]="'RESET_PASSWORD.PASSWORD' | translate" formControlName="password" matInput
                   type="password">
            <mat-error *ngIf="resetPasswordFormErrors.password.required">
              {{'RESET_PASSWORD.PASSWORD_REQ' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input [placeholder]="'RESET_PASSWORD.PASSWORD_TWO' | translate" formControlName="passwordConfirm" matInput
                   type="password">
            <mat-error *ngIf="resetPasswordFormErrors.passwordConfirm.required">
              {{'RESET_PASSWORD.PASSWORD_CONFIRM' | translate}}
            </mat-error>
            <mat-error *ngIf="resetPasswordFormErrors.passwordConfirm.passwordsNotMatch">
              {{'RESET_PASSWORD.PASSWORD_MATCH' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayoutAlign="end">

          <button [disabled]="resetPasswordForm.invalid" aria-label="CONFIRM" class="submit-button" color="accent"
                  mat-raised-button>
            {{'RESET_PASSWORD.CONFIRM' | translate}}
          </button>
        </div>
      </form>

      <a [routerLink]="'/login'" class="b-text-secondary mt-24" fxLayoutAlign="center center">
        {{'RESET_PASSWORD.BACK_LOGIN' | translate}}
      </a>
    </ng-container>

    <ng-container *ngIf="!loading && submitSuccess && hashValid">
      <div fxLayoutAlign="center center">
        <mat-icon class="error-icon b-text-green">mood</mat-icon>
      </div>

      <p class="mat-title mt-24" fxLayoutAlign="center">
        {{'RESET_PASSWORD.SUCCESS' | translate}}
      </p>

      <mat-card-subtitle class="subtitle-text mt-4">
        <p>
          {{'RESET_PASSWORD.SUCCESS_INFO' | translate}}
        </p>
      </mat-card-subtitle>

      <a [routerLink]="'/login'" class="mt-24 b-text-secondary" fxLayoutAlign="center center">
        {{'RESET_PASSWORD.LOGIN_PAGE' | translate}}
      </a>
    </ng-container>

    <ng-container *ngIf="!submitSuccess && !hashValid">
      <div fxLayoutAlign="center center">
        <mat-icon class="error-icon">mood_bad</mat-icon>
      </div>

      <p class="mat-title mt-24 b-text-action" fxLayoutAlign="center center">
        {{'RESET_PASSWORD.INVALID_LINK' | translate}}
      </p>
      <mat-card-subtitle class="subtitle-text mt-4">
        <p>
          {{'RESET_PASSWORD.INVALID_LINK_INFO' | translate}}
        </p>
      </mat-card-subtitle>

      <a [routerLink]="'/forgot-password'" class="b-text-secondary mt-12" fxLayoutAlign="center">
        {{'RESET_PASSWORD.PASSWORD_RESET' | translate}}
      </a>
      <a [routerLink]="'/login'" class="b-text-secondary mt-4" fxLayoutAlign="center">
        {{'RESET_PASSWORD.BACK_LOGIN' | translate}}
      </a>
    </ng-container>
  </mat-card>
</div>
