<div fxLayout="column">
  <div fxLayoutAlign="center center">
    <mat-icon class="error-icon gpx-text-primary">mood</mat-icon>
  </div>

  <p class="mat-title mt-24" fxLayoutAlign="center">
    Registratie compleet!
  </p>

  <!-- <mat-card-subtitle class="mt-4" fxLayoutAlign="center"> -->
  <p class="mt-4 mb-20" fxLayoutAlign="center">
    Welkom bij GPX!
  </p>
  <!-- </mat-card-subtitle> -->

  <a [routerLink]="'/login'" class="mt-24 gpx-text-primary" fxLayoutAlign="center ">
    Ga naar de login pagina
  </a>
</div>
