<div class="mt-20" fxLayout="column">

  <div fxLayout="row">
    <div fxFlex="15%" fxFlex.xs="5%"></div>
    <div class="mt-20" fxFlex="70%" fxFlex.xs="90%">

      <mat-card *ngIf="selectedMeter" class="mat-card-outline" fxLayout="column">

        <div fxLayout="row">
          <p class="mat-title gpx-text-primary" fxLayoutAlign="start center">
            <mat-icon class="mr-8">offline_bolt</mat-icon>
            Gegevens {{ selectedMeter?.name }}
          </p>
          <div class="card-option-button" fxFlex fxLayoutAlign="end end">
            <button [matMenuTriggerFor]="menu" mat-icon-button>
              <mat-icon class="gpx-text-primary">settings</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <ng-container>
                <button (click)="deleteMeter($event)" mat-menu-item>
                  <mat-icon class="gpx-text-action">clear</mat-icon>
                  Verwijder <em>{{ selectedMeter.name }}</em>
                </button>
              </ng-container>
            </mat-menu>
          </div>
        </div>

        <p>
          Hieronder staan de gegevens van meter <em>{{ selectedMeter.name }}</em><span *ngIf="allMeters.length > 1">,
          Je kan van meter wisselen rechtsboven in de navigatie</span>. Wil je een nieuwe of extra meter koppelen aan je
          account? Scroll dan verder naar onder!
        </p>

        <p *ngIf="selectedMeter.gpx_version">
          GPXconnector firmware versienummer <em>{{ selectedMeter.gpx_version === 'undefined' ? 'Onbekend' : selectedMeter.gpx_version }}</em>
        </p>


        <gpx-loading-indicator [loading]="loading" [noLengthText]="'Geen meter data gevonden'"
                               [objectFound]="!selectedMeter"></gpx-loading-indicator>

        <form *ngIf="meterForm" [formGroup]="meterForm" class="mt-20" fxFlex="40%" fxFlex.xs="100%" fxLayout="column"
              fxLayoutGap="12px" name="form" novalidate>

          <mat-form-field appearance="outline" fxFlex="100%">
            <mat-label>Meternaam</mat-label>
            <input required autocomplete="off" formControlName="name" matInput placeholder="Meter naam" type="text">
            <mat-error>{{meterForm.errorMessages.name?.errorMessage}}</mat-error>
            <mat-hint>
              Deze meternaam is alleen voor jou zichtbaar, voor identificatie wanneer je meerdere meters hebt.
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="100%">
            <mat-label>Privacyinstellinen metergegevens</mat-label>
            <mat-select formControlName="visibility_type" required>
              <mat-option [value]="meterVisibilityTypes.PRIVATE">Alleen privé</mat-option>
              <mat-option [value]="meterVisibilityTypes.GROUP" disabled>Inzichtelijk voor groep (Niet beschikbaar)</mat-option>
              <mat-option [value]="meterVisibilityTypes.PUBLIC" disabled>Inzichtelijk voor publiek (Niet beschikbaar)</mat-option>
            </mat-select>
            <mat-error>{{meterForm.errorMessages.visibility_type?.errorMessage}}</mat-error>
            <mat-hint>
              <span *ngIf="meterForm.get('visibility_type').value === meterVisibilityTypes.PRIVATE">
                Metergegevens en metingen zijn alleen inzichtelijk voor jou.
              </span>
              <span *ngIf="meterForm.get('visibility_type').value === meterVisibilityTypes.GROUP">
                Metergegevens en metingen zijn inzichtelijk voor jou en groepsleden.
              </span>
              <span *ngIf="meterForm.get('visibility_type').value === meterVisibilityTypes.PUBLIC">
                Metergegevens en metingen zijn voor iedereen inzichtelijk.
              </span>
            </mat-hint>
          </mat-form-field>

          <h3>Extra instellingen</h3>
          <p>
            Deze extra instellingen zijn inzichtelijk in de groepsmeter voor de deelnemers, om onderling een
            vergelijking te kunnen maken.
          </p>

          <mat-form-field appearance="outline" fxFlex="100%">
            <mat-label>Categorie</mat-label>
            <mat-select formControlName="type" required>
              <mat-option [value]="meterTypes.CONSUMER">Consument (verbruikt alleen energie)</mat-option>
              <mat-option [value]="meterTypes.PROSUMER">Prosument (verbruikt en wekt energie op)</mat-option>
              <mat-option [value]="meterTypes.BATTERY">Batterij</mat-option>
              <mat-option [value]="meterTypes.PRODUCER_SOLAR">Producent (Zon)</mat-option>
              <mat-option [value]="meterTypes.PRODUCER_WIND">Producent (Wind)</mat-option>
              <mat-option [value]="meterTypes.PRODUCER_OTHER">Producent (Anders)</mat-option>
            </mat-select>
            <mat-error>{{meterForm.errorMessages.type?.errorMessage}}</mat-error>
            <mat-hint>
              De categorie wordt gebruikt voor het correct weergeven van jouw meter in de groepsmeter.
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="100%">
            <mat-label>Grootte huishouden</mat-label>
            <input required autocomplete="off" formControlName="resident_count" matInput placeholder="Aantal bewoners" type="number" min="0" max="99">
            <mat-error>{{meterForm.errorMessages.name?.errorMessage}}</mat-error>
            <mat-hint>
              Vul aan uit hoeveel personen het huishouden bestaat, laat deze op 0 als je deze informatie niet wil delen.
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="100%">
            <mat-label>Woningtype</mat-label>
            <mat-select formControlName="residence_type" required>
              <mat-option [value]="residenceTypes.UNDEFINED">Onbekend</mat-option>
              <mat-option [value]="residenceTypes.APARTMENT">Appartement</mat-option>
              <mat-option [value]="residenceTypes.CORNER_HOUSE">Hoekwoning</mat-option>
              <mat-option [value]="residenceTypes.TERRACED_HOUSE">Tussenwoning</mat-option>
              <mat-option [value]="residenceTypes.TWO_ONE_ROOF">Twee onder één kap</mat-option>
              <mat-option [value]="residenceTypes.DETACHED_HOUSE">Vrijstaande woning</mat-option>
              <mat-option [value]="residenceTypes.GROUND_FLOOR_APARTMENT">Benedenwoning</mat-option>
              <mat-option [value]="residenceTypes.UPSTAIRS_APARTMENT">Bovenwoning</mat-option>
            </mat-select>
            <mat-error>{{meterForm.errorMessages.residence_type?.errorMessage}}</mat-error>
            <mat-hint>

            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="100%">
            <mat-label>Energielabel woning</mat-label>
            <mat-select formControlName="residence_energy_label" required>
              <mat-option [value]="residenceEnergyLabels.UNDEFINED">Onbekend</mat-option>
              <mat-option style="background-color: #009037;" class="energy-label-option" [value]="residenceEnergyLabels.APPPP">A++++</mat-option>
              <mat-option style="background-color: #009037;" class="energy-label-option" [value]="residenceEnergyLabels.APPP">A+++</mat-option>
              <mat-option style="background-color: #009037;" class="energy-label-option" [value]="residenceEnergyLabels.APP">A++</mat-option>
              <mat-option style="background-color: #009037;" class="energy-label-option" [value]="residenceEnergyLabels.AP">A+</mat-option>
              <mat-option style="background-color: #009037;" class="energy-label-option" [value]="residenceEnergyLabels.A">A</mat-option>
              <mat-option style="background-color: #55ab26;" class="energy-label-option" [value]="residenceEnergyLabels.B">B</mat-option>
              <mat-option style="background-color: #c8d100;" class="energy-label-option" [value]="residenceEnergyLabels.C">C</mat-option>
              <mat-option style="background-color: #ffec00;" class="energy-label-option" [value]="residenceEnergyLabels.D">D</mat-option>
              <mat-option style="background-color: #faba00;" class="energy-label-option" [value]="residenceEnergyLabels.E">E</mat-option>
              <mat-option style="background-color: #eb6909;" class="energy-label-option" [value]="residenceEnergyLabels.F">F</mat-option>
              <mat-option style="background-color: #e2001a;" class="energy-label-option" [value]="residenceEnergyLabels.G">G</mat-option>
            </mat-select>
            <mat-error>{{meterForm.errorMessages.residence_energy_label?.errorMessage}}</mat-error>
            <mat-hint>
              Elke woning heeft een energielabel. Als je deze niet weet, kan je via
              <a href="https://energielabel.nl/woningen/zoek-je-energielabel/" target="_blank">energielabel.nl</a>
              het label vinden dat bij jouw woning hoort.
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="100%" *ngIf="meterForm.get('type').value === meterTypes.PROSUMER">
            <mat-label>Aantal zonnepanelen</mat-label>
            <input autocomplete="off" formControlName="solar_panel_count" matInput placeholder="Aantal zonnepanelen" type="number" min="0" max="999">
            <mat-error>{{meterForm.errorMessages.name?.errorMessage}}</mat-error>
            <mat-hint>
              Aantal zonnepanelen bij jouw woning. Als je er (nog) geen hebt, voer dan 0 in.
            </mat-hint>
          </mat-form-field>


          <div *ngIf="!meterForm?.pristine" class="mt-20" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">

            <button (click)="cancelChanges()" class="b-action" mat-button type="button">
              Annuleer
            </button>

            <button (click)="onSubmitForm()" [disabled]="!meterForm?.valid" class="b-green" mat-button type="submit">
              <mat-icon>save</mat-icon>
              Opslaan
            </button>

          </div>

        </form>

      </mat-card>

      <mat-card class="mt-20">

        <div fxLayout="row">
          <p class="mat-title gpx-text-primary" fxLayoutAlign="start center">
            <mat-icon class="mr-8">device_hub</mat-icon>
            Nieuwe meter koppelen
          </p>
          <div class="card-option-button" fxFlex fxLayoutAlign="end end">
            <button [matMenuTriggerFor]="menu" mat-icon-button>
              <mat-icon class="gpx-text-primary">settings</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <ng-container>
                <button (click)="newApiKey($event)" mat-menu-item>
                  <mat-icon class="gpx-text-action">refresh</mat-icon>
                  Vraag nieuwe API key aan
                </button>
              </ng-container>
            </mat-menu>
          </div>
        </div>

        <p>
          Hieronder vind je de <em>API key</em>, jouw persoonlijke en unieke code die je instelt op de GPXconnector.
          Kopiëer deze of houdt deze bij de hand wanneer je het apparaat gaat instellen. Heb je net een GPXconnector
          ingesteld en aangesloten, maar zie je de meter nog niet hier verschijnen? Ververs dan deze pagina. De complete
          setup-handleiding is <a routerLink="/manual/setup">hier</a> te vinden.
        </p>

        <div *ngIf="user" class="mt-12 mb-12" fxLayout="row" fxLayoutGap="15px">
          <div fxFlex>
            <mat-form-field appearance="outline" fxFlex="100%">
              <mat-label>API key</mat-label>
              <input style="font-family: monospace" (click)="$event.target.select()" [value]="user.api_key" matInput readonly>
              <mat-hint>
                De API key stel je in op jouw GPXconnector.
              </mat-hint>
            </mat-form-field>
          </div>
          <button (cdkCopyToClipboardCopied)="copyLink()" [cdkCopyToClipboard]="user.api_key" [class.b-green]="isCopied"
                  class="mt-8" mat-icon-button matTooltip="Copy">
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>

        <p>
          Wanneer je over meerdere meters beschikt (bijvoorbeeld van meerdere woningen, of je bent verhuisd) kan je
          dezelfde API key gebruiken om de nieuwe meter aan jouw account te koppelen. Linksboven in het menu kan je
          van meter wisselen. Verschillende meters zijn onafhankelijk van elkaar, en kunnen bij dezelfde of
          verschillende groepsmeters aangesloten zijn.
        </p>

        <p>
          Dus als je bijvoorbeeld een nieuwe meter hebt ontvangen, hoef je geen geheel nieuw account te maken! Dezelfde
          API key kan direct gebruikt worden, waarna jouw aangesloten meters direct zichtbaar in het menu.
        </p>

      </mat-card>

    </div>
    <div fxFlex="15%" fxFlex.xs="5%"></div>
  </div>

</div>
