// Material theming tools
@import '~@angular/material/theming';

// Breakpoint mixins
@import "partials/breakpoints";


$gpx-color-primary: #006937 !important;
$gpx-color-secondary: #10A94B !important;

$b-color-primary: #172B4D !important;
$b-color-primary-dark: #3C3C3C !important;
$b-color-secondary: $gpx-color-primary;
$b-color-action: #ea4335 !important;
$b-color-green: #00933B !important;
$b-color-dark-grey: #666666 !important;
$b-color-middle-grey: #ABABAB !important;
// $b-color-light-grey: #F2F2F2 !important;
$b-color-light-grey: #F3F4F5 !important;
$b-message-color: #DCF8C6 !important;
$b-theme-primary-700: #2D323E !important;
$b-dark-theme-primary-700: #292A2D !important; //ligther
$b-dark-theme-primary-900: #202124 !important; //darker

