// Material theming tools
@import '~@angular/material/theming';

// Breakpoint mixins
@import "partials/breakpoints";


$gpx-color-primary: #006937 !important;
$gpx-color-secondary: #1B2ACF !important;
$gpx-color-action: #ea4335 !important;
$gpx-color-dark-grey: #666666 !important;
$gpx-color-middle-grey: #ABABAB !important;
$gpx-color-light-grey: #F3F4F5 !important;

$b-message-color: #DCF8C6 !important;
$b-theme-primary-700: #2D323E !important;
$b-dark-theme-primary-700: #292A2D !important; //ligther
$b-dark-theme-primary-900: #202124 !important; //darker

